@model TranscriptModels.Student

@{
    ViewBag.Title = "Create";
}

<h2>
    Excel Template
    <a href="~/ExcelFiles/StudentRecord.xlsx">~/ExcelFiles/StudentRecord.xlsx</a>
</h2>


@using (Html.BeginForm("UploadStudentRecords", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error)
    <span>Excel File </span> <input type="file" name="excelfile" />
    <br />
    <input type="submit" value="Upload" class="btn btn-primary" />
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
